*{
    margin: 0;
    font-family:'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
}
.contenedor{
    display: flex;
    float: left;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
}
.columna{
    display: flex;
    float: left;
    flex-direction: column;
    row-gap: 15px;
}
.fila{
    display: flex;
    float: left;
    flex-direction: row;
    gap: 25px;
}
.centrado{
    justify-content: center;
}
.fondoazul{
    background-color: rgb(13, 46, 107);
    color: white;
}
span{
    background-color: rgb(13, 46, 107);
    color: white; 
}
i{
    background-color: rgb(13, 46, 107);
    color: white; 
}
a{
    background-color: rgb(13, 46, 107);
    color: white; 
}
.cajatotal{
    background: beige;
    width: 100%;
    max-width: 1000px;
    height: 1000px;
    margin: 10px;
}
.cajaizq{
    flex-direction: column;
    width: 25%;
    height: 100%;
}
.imagen{
    flex-direction: column;
    height: fit-content;
    margin-top: 10%;
}
.Contacto{
    flex-direction: column;
    height: fit-content;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nombre{
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    margin-top: 18px;
}
.apellido{
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}
.tituloazul{
    display: flex;
    color: white;
    background-color: rgb(13, 46, 107);
    padding: 0px;
    border: 8px solid rgb(13, 46, 107);
    width:fit-content;
    height:fit-content;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    margin-left: 10px;
}