*{
    margin: 0;
    font-family:'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
}
body{
    background-color: beige ;
}

h1{
    margin-bottom: 5px;
}
h2{
    margin-top: 10px;
}

.texto-azul{
    color:rgb(26, 76, 169)
}

.centrado{
    text-align: center;
}
.nombre{
    font-size: 40px;
}
.apellido{
    font-size: 60px;
}

.fondo-azul{
    color: white;
    background-color: rgb(26, 76, 169);
    padding: 4px;
    border: 10px solid rgb(26, 76, 169);
    width:fit-content;
    height:fit-content;
    text-align: center;
    border-radius: 20px;
}

.box{
    width: 35%;
    height: 900px;
    background-color: darkgrey;
    float: left;
}
.cuerpo{
    margin-left: 10px;
    float: left;
}